body {
    margin: 0;
    padding: 0;
}
#wrapper {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
}
#left-main-block {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 195, 255);
    width: 15em;
    height: 100vh;
    padding-left: 1em;
    color: white;
    gap: 2.7em
}
#logo-and-text {
    display: flex;
    gap: 0.3em;
    font-size: 1.5em;
    font-weight: 700;
    align-items: center;
    width: 100%;
}
#logo-and-text>img {
    max-width: 40px;
    height: auto;
}
#left-top-tabs,
#left-bottom-tabs {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    gap: 1em;
}
#left-top-tabs img{
    max-width: 22px;
}
#left-top-tabs div,
#left-bottom-tabs div {
    display: flex;
    align-items: center;
    font-size: 100%;
    gap: 10px;
    font-weight: 600;
}
#left-bottom-tabs img{
    max-width: 22px;
}


#right-main-block {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
}
#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

#header-top {
    display: flex;
    justify-content: center;
}
#header-top img {
    width: 40px;
}
#search {
    display: flex;
}

#profile-top {
    display: flex;
}

#header-bottom {
    display: flex;
}
#header-bottom img {
    width: 55px;
    border-radius: 100%;
    border: 1px solid rgb(29, 29, 29);
    background-color: rgb(160, 160, 160);
}
#profile-bottom {
    display: flex;
}
#profile-bottom-text {
    display: flex;
    flex-direction: column;
}

#bottom-right-tabs {
    display: flex;
    justify-content: space-between;
}


#content {
    display: flex;
    background-color: rgb(228, 228, 228);
}
#projects {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}
#project {
    display: flex;
    flex-direction: column;
}
#project-icons {
    display: flex;
    justify-content: space-between;
}


#side-info {
    display: flex;
    flex-direction: column;
}
#announcements {
    display: flex;
    flex-direction: column;
}
#ann-block {
    display: flex;
    flex-direction: column;
}

#trending {
    display: flex;
    flex-direction: column;
}
#other-profiles {
    display: flex;
}
#other-profile-text-block {
    display: flex;
    flex-direction: column;
}


#left-main-block img {
    filter: brightness(0) invert(1);
}